# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_VERSION=0.0.1
JWT_SEC=""
ENCRYPT=""
DB_URL="postgresql://username:password@localhost:5432/postgres"
PORT=4000
NODE_ENV="production" # "staging" | "development" 
NETWORK_PROVIDER="MainNet" # "TestNet"
AGN_TOKEN=""