*.png
*.rsh
*.po
*.yml
*.md
*.scss
Makefile
Dockerfile
src/reach/build
src/locales/*.*
src/messages/*.*
src/constants/i18n.ts
src/constants/verified-asa.ts
src/assets/*
src/tests/*
docs/*.*
*.eslintrc.*
cypress/*
src/@humble-sdk/*
src/helpers/WalletConnect/*

humbleswap-api/*
humbleswap-server/*
